@inherits LayoutComponentBase
<div class="bg-background text-text flex flex-col min-h-screen w-full">
    <header>

    </header>

    <main class="flex-grow w-full">
        @Body
    </main>

    <footer>
    </footer>
</div>
